*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.complain-card{
    
    position:absolute;
    left: 25.85%;
    right: 12.94%;
    top: 5.31%;
    height: auto;
    background: #3C3644;
    color: #fff;
    /* box-shadow: 0px 0px 50px 60px rgba(0, 0, 0, 0.5); */
    border-radius: 9px;

}
.input{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #3C3644;
    border-radius: 10px;
    border-color: #F5F5F5;
    border-width: 2px;
    color:#CACCCE;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    
}

.btn-complain{

    margin-left: 70%;
    margin-bottom: 5%;
    background: #1A171D;
    font-weight: 800;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    
}


.btn-complain:hover{
    background: rgb(110, 35, 145);

}

.btn-close:hover{
    background: #3C3644;
}
@media screen and (max-width: 637px) {
.btn-complain{
margin-bottom: 0px;
margin-left: 60%;
}

}
@media screen and (max-width: 500px) {
    .btn-complain{
    margin-bottom: 0px;
    margin-left: 50%;
    }
    
    }
